<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>QASite</title>
=======
  <title>HowtoGuide</title>
>>>>>>> 5cd47b1e9a74be0a292d129b0d3433644bda9586
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
